<%- include ("header") %>

    <div class="box" id="heading">
        <h1 class="box" id="heading"><%=listName%></h1>
    </div>

    <div class="box">
            <% for(var i=0; i<itemsListName.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%=itemsListName[i]%></p>
                </div>
            <% } %>
    
            <form class="item" action="/" method="post">
                <input type="text" name="item" placeholder="New item" autocomplete="off">
                <button type="submit" name="button" value=<%=listName%>>+</button>
            </form>
    </div>


<%- include ("footer") %>